<h1>Orders of <%= @user.name %></h1>

<% @orders.each do |order| %>
  <h1><%= order.food_store.name %></h1>
  <h2><%= order.food_item.item_name %></h2>
  <h3><%= order.quantity %></h3>
<% end %>